<launch>
  
    <!-- Include simulation slam and navigation -->
    <include file="$(find turtlebot3_exploration)/launch/sim_slam_nav.launch"/>

    <!-- exploration node -->
    <node name="go_to" pkg="turtlebot3_exploration" type="go_to_point.py" required="true" output="screen">
    </node>
</launch>
